@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

$body-family: 'Rounded Mplus 1c', sans-serif;
$body-size: 13px;
$body-color: #444;
$body-weight: 300;
$strong-color: #444;
$strong-weight: 300;
$weight-normal: 300;
$weight-semibold: 300;
$weight-bold: 300;
$card-header-color: #444;
$section-padding:1rem 0rem;
$section-padding-medium: 7rem 2rem;
$body-line-height: 1.6;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";